<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Chào mừng bạn đến với healthyBack</h2>
    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-heart"></i>
        Kết nối
        <span class="item-note" ng-if="healthyBack.status">
          Đã kết nối
        </span>
        <span class="item-note" ng-if="!healthyBack.status">
          Chưa kết nối
        </span>
      </a>
      <div class="item">
        <div class="button-bar">

          <a ng-repeat="profile in healthyBack.profiles" class="button {{profile.class}}" ng-click="changeToProfile(profile)">{{profile.fullname}}</a>
        </div>
      </div>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-speedometer"></i>
        Chế độ hiện tại là
        <span class="item-note">
          {{healthyBack.currentProfile.fullname}}
        </span>
      </a>

      <div class="item">
        <div class="button-bar">

          <a ng-if="healthyBack.canRenderStartButton()" class="button button-balanced" ng-click="healthyBack.start()">Bắt đầu</a>
          <a ng-if="healthyBack.canRenderPauseButton()" class="button button-energized" ng-click="healthyBack.pause()">Tạm dừng</a>
          <a ng-if="healthyBack.canRenderResumeButton()" class="button button-calm" ng-click="healthyBack.resume()">Tiếp tục</a>
          <a ng-if="healthyBack.canRenderStopButton()" class="button button-assertive" ng-click="healthyBack.stop()">Ngưng</a>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
